.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #f3f4f6;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
}

h3 {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 15px 0px 0px 0px;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  color: gray;
  margin: 5px 0px 5px 0px;
}
.formTitle {
  font-weight: 500;
}

select {
  font-size: 1rem;
  font-weight: 300;
  width: 18vw;
  height: 25px;
  margin: 0px 0px 5px 0px;
}

.semester {
  margin-bottom: 20px;
}

.reviewTitleInput {
  width: 35vw;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  border: solid 1px #8b8b8b;
  padding-left: 6px;
  margin: 5px 0px 0px 0px;
}

.reviewCommentInput {
  width: 35vw;
  height: 120px;
  font-size: 0.9rem;
  border: none;
  border: solid 1px #8b8b8b;
  border-radius: 5px;
  resize: none;
  align-items: center;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  padding: 6px 0px 0px 6px;
  margin: 5px 0px 20px 0px;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0px 0px 0px;
}

.emailBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.email {
  width: 11vw;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 5px 0px 0px 5px;
  border: none;
  border: solid 1px #8b8b8b;
  padding-left: 6px;
  z-index: 1;
}

.sfsuBox {
  background-color: rgb(237, 237, 237);
  width: 8vw;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: solid 1px #8b8b8b;
  position: relative;
  right: 8px;
  z-index: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.form {
  display: flex;
  max-width: 50vw;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  align-items: start;
  margin: 20px 0px 20px 0px;
  padding: 30px 40px 30px 40px;
}

.submit {
  margin: 25px 0px 0px 0px;
  align-self: flex-end;
}

.code {
  margin-bottom: 20px;
  width: 11vw;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  border: solid 1px #8b8b8b;
  padding-left: 6px;
}

.verification {
  color: green;
}

.error {
  color: red;
}
