html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 80px;
}

.nav .logo {
  margin-top: 10px;
  margin-left: 20px;
}

.nav .login {
  height: 60%;
  margin-right: 20px;
}

.bannerText {
  position: relative;
  left: 60px;
  top: 270px;
  color: white;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 2.3em;
}

.reviewsTableHeader {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}

.reviewsTableHeader p {
  margin-left: 105px;
  font-size: 1.15rem;
}

.reviewsTableHeader .writeReview {
  margin-right: 105px;
}

.reviewsTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #f3f4f6;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  gap: 30px;
}
