.reviewCard {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f7f7f7;
  margin: 1rem;
  padding: 3rem 4rem;
  width: 100%;
}

.title {
  font-weight: 500;
  font-size: 2rem;
}

.review {
  font-weight: 500;
  font-size: 1.4rem;
}

.ratingAndDateRow {
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.upvotesRow {
  align-self: flex-end;
  font-weight: 500;
  font-size: 1.2rem;
}
