.reviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.nameAndDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  font-weight: 300;
  font-size: 0.75rem;
  width: 25%;
}

.nameAndDate .name {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin: 40px 0px 40px 35px;
}

.nameAndDate .date {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  margin: 10px 0px 40px 35px;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 1;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  width: 25%;
  margin: 40px 0px 40px 35px;
}

.review {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 2;
  font-weight: 500;
  font-size: 0.75rem;
  width: 50%;
  margin: 40px 0px 0px 35px;
}

.review h3 {
  font-weight: 500;
  margin-top: 0px;
}

.review p {
  font-weight: 300;
}
